<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvEPYMxj75g3ZOlo27px7M7AYnGXJhT3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>694647150869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gourob.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-cd673</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-cd673.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694647150869:ios:c3519a7186f419ad9b711c</string>
</dict>
</plist>